$dark: black;
$light: white;

@mixin flex-col($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

h1 {
  font-size: 48px;
  @media (max-width: 725px) {
    font-size: 36px;
  }
  @media (max-width: 475px) {
    font-size: 30px;
  }
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

section:nth-child(4) {
  background-color: $dark;
}

section:nth-child(6) {
  background-color: $dark;
}

.normal {
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  padding: 0 32px;
  @media (max-width: 1275px) {
    flex-direction: column-reverse;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-content {
  position: absolute;
  @include flex-col(48px);
  justify-content: end;
  height: 100%;
  @media (max-width: 1275px) {
    position: static;
    gap: 24px;
  }
}

.hero-links {
  display: flex;
  gap: 48px;
  .hero-icon {
    width: 64px;
    height: 64px;
  }
}

.hero-description {
  max-width: 701px;
  font-size: 24px;
  font-weight: 400;
  color: #00000099;
  @media (max-width: 1275px) {
    font-size: 20px;
    max-width: 100%;
  }
  @media (max-width: 725px) {
    font-size: 16px;
  }
}

.hero-image {
  margin-left: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1275px) {
    margin-left: 0;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  display: flex;
  height: 180px;
  width: 186px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid $dark;
  i {
    font-size: 48px;
  }
  p {
    font-size: 18px;
    font-weight: 800;
  }
}

.white {
  color: $light;
  padding: 100px 0;
  @media (max-width: 1275px) {
    padding: 100px 40px;
  }
}

.experience-container {
  @include flex-col(20px);
}

.experience-card {
  @include flex-col(16px);
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid $light;
  .header-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .card-header {
    font-size: 30px;
  }
  .card-description {
    font-size: 18px;
  }
  .experience-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 123px;
  @media (max-width: 1275px) {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.avatar-wrapper {
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
}

.about-content {
  .header {
    text-align: left;
  }
  .about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #00000099;
  }
}

.projects-content {
  @include flex-col(32px);
}

.project {
  display: flex;
  gap: 124px;
  @media (max-width: 1275px) {
    flex-direction: column;
    gap: 24px;
  }
  .project-image {
    height: 338px;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 495px;
    .number {
      font-size: 48px;
    }
    .project-title {
      font-size: 30px;
    }
    .project-description {
      color: #ffffff99;
    }
  }
  .more-btn {
    display: block;
    padding: 16px 20px;
    border-radius: 8px;
    margin-right: auto;
  }
}

.project:nth-child(even) {
  .project-image {
    order: 1;
    @media (max-width: 1275px) {
      order: inherit;
    }
  }
}

.contacts {
  flex-shrink: 1;
  flex-grow: 2;
  max-width: 598px;
  h2 {
    font-size: 48px;
    line-height: 48px;
  }
  .description {
    margin: 32px 0;
    color: #00000099;
    line-height: 24px;
  }
}

.call-me {
  display: flex;
  justify-content: space-between;
  gap: 123px;
}

.email,
.phone {
  font-size: 18px;
  font-weight: 600;
}

.email {
  margin-bottom: 12px;
}

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 955px) {
    display: none;
  }
}

.mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @media (max-width: 955px) {
    display: flex;
  }
}

.nav-list {
  display: flex;
  gap: 48px;
}

.resume-btn {
  padding: 17px 20px;
  border-radius: 8px;
  color: $light;
  background-color: $dark;
}

.menu-btn {
  background-color: transparent;
  font-size: 32px;
}
